server {
  listen 80;
  server_name _;

  root /usr/share/nginx/html;
  index index.html;

  location /api/ {
    proxy_pass ${API_GATEWAY_URL};
    proxy_http_version 1.1;
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
